

body {
    background-color: white;
    display: flex;
    justify-content:center;
    align-content: center;
}
.container{
    margin: 4rem;
    display: grid;
}

.header{
    margin: auto;
}

.text-field{
    margin-top: 1rem;
}

button{
 
    height: 2rem;
}

  
   
   
  
   
     

    
  
  