.main,
.header-img {
	padding: 0px !important;
}
.banner_img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	padding: 0em !important;
	margin: 0em;
	object-position: right 43%;
}

.avatar-profile {
	/* margin: 20px !important; */
	margin-top: -20% !important;
	border: 2px solid black;
	border-radius: 8px;
	height: 200px;
	width: 200px;
	/* position: absolute; */
}
.spacer {
	margin: 20px;
}

.negate-margin {
	margin-top: -6%;
}

.tweetimage {
	height: 400px;
	object-fit: cover;
}

.tweet-avatar {
	border-radius: 20px;
	height: 50px;
	width: 50px;
	object-fit: cover;
	margin-bottom: 20px;
}
.user-name-tweet {
	margin-top: 15px;
}
.user-name-date {
	color: #858585;
	height: 16px;
	left: 589.51px;
	top: 578.9px;
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.035em;
}
.tweet-under {
	font-size: 10px;
	padding: 20px;
}

.sendimage {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 10px;
}
.font-ic {
	padding: 10px;
}

@media screen and (min-width: 980px) {
	.user-name-tweet,
	.user-name-date {
		margin-left: -55px !important;
	}
}
