@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

.tweet-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 24.98px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.tweet-heading {
  background-color: #fff;
  margin-right: 25px;
  border-radius: 12px;
  width: 745px;
  height: auto;
  min-height: 155px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: Poppins, sans-serif;
}

.tweet-heading h3 {
  font-size: 12px;
  color: #4F4F4F;
  padding-top: 10.91px;
  font-weight: bolder;
}

.tweet-heading .underline {
  border: 1px solid #E0E0E0;
  width: 706.21px;
  margin: 8px;
}

.tweet-heading .write-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.tweet-heading .write-message .user-image {
  width: 40px;
  height: 45.86px;
  margin-right: 12px;
  border-radius: 12px;
  margin-top: 8px;
}

.tweet-heading .write-message textarea {
  width: 100%;
  height: 22px;
  color: #002;
  resize: none;
  border: none;
  font-family: Noto Sans;
  font-size: 16px;
  overflow: auto;
  padding: 0 10px;
  vertical-align: top;
  letter-spacing: -3.5%;
  margin-bottom: 10px;
}

textarea:focus {
  outline: none;
}

.select-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-media-container button {
  width: 81px;
  height: 32px;
  border-radius: 4px;
  background-color: #2F80ED;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 18.79px;
  font-weight: bolder;
}

.select-media-container:hover {
  opacity: 0.9;
}

.select-media {
  margin-left: 70px;
  border-radius: 50%;
  margin-bottom: 14.03px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.select-media .select-image img {
  margin-right: 13.83px;
  width: 16.67px;
  height: 16.67px;
  cursor: pointer;
}

.set-media-image {
  position: relative;
}

.set-media-image span {
  position: absolute;
  top: 0;
  left: 3px;
  cursor: pointer;
}

.set-media-image span img {
  color: #ff0000;
  font-weight: bolder;
}

.select-media div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-top: 7px;
}

.select-media div .media-image {
  margin-right: 13.83px;
  width: 16.67px;
  height: 16.67px;
  margin-top: 2px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.select-media div h3 {
  display: inline-block;
  font-size: 12px;
  margin-top: -7px;
  color: #2F80ED;
  font-weight: bolder;
}

@media screen and (max-width: 720px) {
  .tweet-heading {
    margin: 0 auto;
    width: 70vw;
    width: 65vw;
  }
  .tweet-heading .underline {
    width: auto;
  }
}

@media screen and (max-width: 500px) {
  .tweet-heading {
    width: 65vw;
  }
}

.replierContainer {
  width: 234.37px;
  height: 170.29px;
  background-color: #fff;
  margin: 8px 133px;
  padding-left: 12px;
  padding-top: 9px;
  border-radius: 12px;
  border: 1px solid #E0E0E0;
  -webkit-box-shadow: rbg(0 2px 4px 0);
          box-shadow: rbg(0 2px 4px 0);
  z-index: 3;
  position: absolute;
  left: 133px;
}

.replierContainer h3 {
  font-size: 12px;
  color: #4F4F4F;
}

.replierContainer p {
  font-size: 12px;
  color: #828282;
  font-weight: 400;
  margin-top: 1.3px;
  margin-left: 0px;
}

@media screen and (max-width: 720px) {
  .replierContainer {
    left: 0px;
  }
}

.hideReplierContainer {
  display: none;
}

.replierContainer .image-n-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 11.48px;
  text-decoration: none;
  margin-bottom: 16.6px;
  width: 209.9px;
  height: 39px;
  border-radius: 8px;
  cursor: pointer;
}

.image-n-text:hover {
  background-color: #F2F2F2;
}

.replierContainer .image-n-text img {
  margin-right: 9.6px;
  width: 16.67px;
  height: 16.67px;
}

.replierContainer .image-n-text h3 {
  margin-top: 9px;
}

.trending-n-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trending {
  width: 306px;
  height: 400px;
  background-color: #fff;
  margin-bottom: 22px;
  border-radius: 12px;
  padding-left: 20px;
  padding-top: 10.91px;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.trending-content {
  width: 100%;
  min-height: 50px;
  border-radius: 4px;
  margin-top: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trending-content Link {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.trending-content span {
  display: block;
  font-weight: 500;
  font-size: 15px;
  color: #828282;
}

.trending-content:hover {
  opacity: 0.7;
}

.underline {
  border: 1px solid #E0E0E0;
  width: 706.21px;
}

.trending h3 {
  font-size: 12px;
  color: #4F4F4F;
  padding-top: 10.91px;
  font-weight: bolder;
}

.who-to-follow {
  width: 306px;
  height: 100%;
  background-color: #fff;
  border-radius: 12px;
  border-radius: 12px;
  padding-left: 20px;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  overflow: hidden;

}

.who-to-follow .underline {
  border: 1px solid #E0E0E0;
  width: 706.21px;
}

.who-to-follow h3 {
  font-size: 12px;
  color: #4F4F4F;
  padding-top: 10.91px;
  font-weight: bolder;
}

.who-to-follow .suggest-container {
  width: 306px;
  height: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: first baseline;
      -ms-flex-pack: first baseline;
          justify-content: first baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.who-to-follow .suggest-content:hover {
  opacity: 0.9;
}

.who-to-follow .underline {
  border: 1px solid #E0E0E0;
  width: 706.21px;
  margin-top: 20px;
}

.who-to-follow .suggest-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40px;
}

.who-to-follow .suggest-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 29px;
}

.who-to-follow .suggest-user h3 {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 110px;
  margin-top: 14px;
}

.who-to-follow .suggest-user span {
  display: block;
  color: #828282;
  font-weight: 500;
}

.who-to-follow .suggest-user button {
  width: 79px;
  height: 24px;
  border-radius: 4px;
  background-color: #2F80ED;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 36px;
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
}

.who-to-follow .suggest-user button span {
  background-image: url("https://img.icons8.com/ios-glyphs/30/FFFFFF/add-user-male.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 13.83px;
  height: 13px;
  padding-right: 12px;
}

.who-to-follow a {
  text-decoration: none;
  width: 265px;
  margin: 19.2px 20px 40px 20px;
  display: block;
}

.who-to-follow img {
  width: 265px;
  height: 100px;
  margin-right: 20px;
}

.tweet-body {
  width: 745px;
  height: 706px;
  margin-top: 53.66px;
  margin-bottom: 23px;
  overflow-y: scroll;
}

@media screen and (max-width: 720px) {
  .tweet-body {
    width: 400px;
  }
}

@media screen and (max-width: 740px) {
  .trending-n-follow {
    display: none;
  }
}
/*# sourceMappingURL=TweetController.module.css.map */