
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background-color: white;
    // display: flex;
    // justify-content:center;
    // align-content: center;
}
.container{
    margin: 4rem;
    display:grid;  
}

.MuiBox-root {
    display: flex;
    justify-content: center;

}
.textField{
padding:0;
margin:0px !important;
}


$primary-color-blue:#2F80ED;
$primary-color-white:white;

.header{
   font-family: Noto Sans;
}

.text-field{
    margin-top: 1rem;
}

.button{
    background-color:$primary-color-blue;
    color:$primary-color-white;
    height: 2.5rem;
    justify-self:start;
    margin-top:2rem;
    width:10rem;
    font-size:1rem
}


section{
    justify-content:center;
    font-family:Poppins;
}

  
//    this style works
   
  
   
     

    
  
  