.wrapper {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  width:100vw;
  /* position: fixed; */
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  position: relative;
  padding: 0px 100px;
  padding-top: 20px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.logo span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo .icon {
  font-size: 40px;
  margin-right: 15px;
  color: blue;
}

.logo .theme {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.menu {
  margin: 0;
  padding: 0;
}


.link {
  color: grey;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  transition: all 0.3s ease;
  padding-bottom: 200px;
}
.link {
  padding-bottom: 300px;
  background-color: rebeccapurple;
}

.link:hover {
  border-bottom: 3px solid blue;
  transform: scale(0.98);
}

.navprof {
  width: 80px;
  height: 80px;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}


.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropcontent {
  display: none;
  position: absolute;
  z-index: 2;
  right: 0;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  width: 192.04px;
  /* height: 200.24px; */
  margin-top: 50px;
  padding: 10px;
}

.content .icon {
  font-size: 18px;
  margin-right: 12px;
  color: black;
}

.dropcontent .icon:hover {
  border-radius: 12px;
}

.logout {
  width: 100%;
  height: 30px;
  color: red;
}

.profile {
  display: flex;
  align-items: center;
}

.avatarContainer {
  width: 36px;
  height: 32px;
  margin-right: 10px;
  text-align: center;
}

.profileImgI {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}
.profileImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: blue;
  border-radius: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 2px;
}

.arrow {
  margin-top: -18px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 25px;
  transition: all 0.5s;
}

.linkedNav {
  position: relative;
  padding: 0 25px;
}


.linkedNav:not(:last-child) {
  margin-right: 10px;
}

.navright {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navright:hover .arrow {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  display: none;
  background-color: #fff;
  width: 200px;
  top: 67px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.navright:hover .dropdown {
  display: block;
}

.navItem {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 8px 20px;
  margin-bottom: 10px;
}
.navItem:hover {
  background-color: #f2f2f2;
}

.icon {
  margin-right: 10px;
  color: #4f4f4f;
  font-weight: 800;
}
.navText {
  color: #4f4f4f;
  font-weight: 500;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

.dropdown .navItem:nth-child(5) span {
  color: #eb5757;
}

.dropdown .navItem:nth-child(5) .icon {
  color: #eb5757;
}

@media screen and (max-width: 900px) {
  nav {
    width: 100%;
    height: 50%;
    padding: 5px;
    align-items: center;
  }

  .avatarContainer {
    width: 50px;
    height: 50px;
  }

  .profileImg {
    width: 100%;
    height: 100%;
  }

  .theme {
    display: none !important;
  }

  .menu {
    display: none !important;
  }

  .nameTxt {
    display: none !important;
  }

  .arrow {
    display: none !important;
  }

  .dropdown {
    right: 10px;
    padding: 5px;
    z-index: 2;
    top: 80px;

  }

  .navItem {
    padding: 5px 15px;
  }

  .navItem .navText {
    color: #4f4f4f;
    font-weight: 500;
    font-size: 12px;
  }
}
